<template>
  <div class="container">
    <div id="map" />
    <MarkerList :geojson="geojson" :error="errorMsg" />
    <DataFiles :geojson="geojson" :import="importGeojson"/>
  </div>
</template>

<script>
import mapboxgl from 'mapbox-gl';
import { generateDeleteButton } from './Utils.js';
import MarkerList from './MarkerListView';
import DataFiles from './DataFiles';
import { databaseService } from '../database';
import { PointsService } from '../api';

export default {
  name: 'MapBox',
  data() {
    return {
      map: '',
      geojson: {
        "type": 'FeatureCollection',
        "features": []
      },
      canvas: {},
      markerStyles: {value: '', color: 'black'},
      activeMarker: '',
      preventCreateMarker: false,
      popup: '',
      errorMsg: ''
    }
  },
  components: { MarkerList, DataFiles },
  mounted() {
   this.drawMap();
  },
  methods: {
    drawMap() {
      mapboxgl.accessToken = 'pk.eyJ1IjoibWtvemFrMDEwOCIsImEiOiJjamljeGF4Y3MwNGZrM3BvNmMxd2hsY2wzIn0.ErvzY580HhOEokFZR1GOTg'
      this.map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v9'
      });

      this.map.on('load', () => {
        this.canvas = this.map.getCanvasContainer();
        this.map.addControl(new mapboxgl.FullscreenControl());

        this.addLayerSource(this.geojson);
        this.addLayers();
        this.initEvents();
        
        databaseService.listenForValues(this.loadAndDisplayMarkers.bind(this))
      })
    },
    addLayerSource(data) {
      this.map.addSource('clusters', {
        "type": "geojson",
        "data": data
      });
    },
    addLayers() {
      this.map.addLayer({
        "id": "clusters",
        "type": "circle",
        "source": 'clusters',
        "paint": {
          "circle-radius": 10,
          "circle-color": [
            'match',
            ['get', 'markerStyles'],
            '0', 'black',
            '1', 'gray',
            '2', 'red',
            '3', 'orange',
            '4', 'lime',
            '5', 'green',
            'black'
          ]
        }
      });

      this.map.addLayer({
        "id": "clusters-label",
        "type": "symbol",
        "source": "clusters",
        "layout": {
          "icon-image": "{marker-symbol}-15",
          "text-field": "{markerStyles}",
          "text-size": 13
        },
        "paint": {
          "text-color": "white"
        }
      });
    },
    initEvents() {
      this.initClickEvents();
      this.initMouseEvents();
    },
    initClickEvents() {
      this.map.on('click', e => this.addNewMarker(e));

      this.map.on('click', 'clusters', (e) => {
        const { features } = e;
        const point = features[0];
        const coordinates = point.geometry.coordinates.slice();
        const description = point.properties.description;
        this.activeMarker = point.properties.id;

        if(!point.properties.value) {
          return;
        }

        if(this.popup) {
          this.popup.remove();
        }

        this.map.jumpTo({ 'center': coordinates });
        this.popup = new mapboxgl.Popup()
            .setLngLat(coordinates)
            .setHTML(description)
            .addTo(this.map);

        this.popupWindowEvents();
      });
    },
    popupWindowEvents() {
      const popupButtonElement = document.getElementById('popup-marker-delete');

      popupButtonElement.onclick = () => {
        this.deleteMarker();

        PointsService.deletePoint(this.activeMarker)
          .catch(err => {
            this.deleteMarker();
          });
      }
    },
    initMouseEvents() {
      this.map.on('mouseenter', 'clusters', (e) => {
        this.activeMarker = e.features[0].properties.id;
        this.map.getCanvas().style.cursor = 'pointer';
        this.preventCreateMarker = true;
      });

      this.map.on('mouseleave', 'clusters', () => {
        this.map.getCanvas().style.cursor = '';
        this.preventCreateMarker = false;
      });

      this.map.on('mousedown', 'clusters', (e) => {
        e.preventDefault();

        this.map.on('mousemove', this.onMoveMarker);
        this.map.once('mouseup', this.onUpMarker);
      });
    },
    loadAndDisplayMarkers(data) {
      const { id, coordinates, pointValue } = data;
      const point = this.toGeojsonFormat(id, coordinates, pointValue);

      this.geojson.features.push(point);
      this.map.getSource('clusters').setData(this.geojson);
    },
    addNewMarker(e) {
      if(this.preventCreateMarker) {
        return;
      }
      const { lngLat } = e;
      const { lng, lat } = lngLat;
      const coordinates = [lng, lat];
      const temporaryId = String(new Date().getTime());
      const temporaryPoint = this.toGeojsonFormat(temporaryId, coordinates);

      this.geojson.features.push(temporaryPoint);
      this.map.getSource('clusters').setData(this.geojson);

      PointsService.savePoint(coordinates)
        .then(() => this.deleteMarker(temporaryId))
        .catch(err => {
          this.deleteMarker(temporaryId);
          this.errorMsg = err.response.data.message;

          setTimeout(() => this.errorMsg = '', 3000);
        })
    },
    toGeojsonFormat(id, coordinates, pointValue = '') {
      const popupTemplate = generateDeleteButton(id);

      return {
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": coordinates
        },
        "properties": {
            "id": id,
            "value": pointValue,
            "markerStyles": `${pointValue}`,
            "description": popupTemplate
        }
      };
    },
    onMoveMarker(e) {
      const coords = e.lngLat;
      const updatedGeojsonFeatures = this.geojson.features.map(item => {
        if(item.properties.id === this.activeMarker) {
          item.geometry.coordinates = [coords.lng, coords.lat];
        }

        return item;
      });

      this.updateGeoJson(updatedGeojsonFeatures)
    },
    onUpMarker() {
      this.map.off('mousemove', this.onMoveMarker);
      this.map.off('touchmove', this.onMoveMarker);
    },
    selectMarker(marker) {
      this.markerStyles = marker;
    },
    deleteMarker(id) {
      const filterId = id || this.activeMarker;
      const updatedGeojsonFeatures = this.geojson.features.filter(item => item.properties.id !== filterId);

      this.updateGeoJson(updatedGeojsonFeatures);
      if(this.popup) {
        this.popup.remove();
      }
    },
    changeMarker(id, val) {
      const updatedGeojsonFeatures = this.geojson.features.map(item => {
        if(item.properties.id === id) {
          item.properties.markerStyles = val;
        }

        return item;
      });

      this.updateGeoJson(updatedGeojsonFeatures)
    },
    updateGeoJson(updatedGeojsonFeatures) {
      const updatedGeojson = {...this.geojson};
      updatedGeojson.features = updatedGeojsonFeatures;

      this.geojson = updatedGeojson;
      this.map.getSource('clusters').setData(updatedGeojson);
    },
    importGeojson(geojson = {}) {
      const { features } = geojson;
      if(features) {
        features.forEach(element => {
          const { geometry } = element;
          const { coordinates } = geometry;
          const [lng, lat] = coordinates;
          const eventPoint = { lngLat: { lat, lng } }

          this.addNewMarker(eventPoint)
        });
      } else {
        console.warn('Empty geojson file');
      }
    }
  }
}
</script>

<style scoped>
.container {
  position: relative;
  width: 100%;
  height: 100vh;
}
#map { 
  position:absolute; 
  top:0; bottom:0; 
  width:100%; 
}
.map-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 200px;
  padding: 10px;
}
.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.10);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}
</style>
