<template>
  <div class='map-overlay top-right'>
    <div class='map-overlay-inner'>
      <div class="legend">
        <h3>Total: {{markerList.length}}</h3>
        <div v-for="marker in markers" :key="marker.value">
          <span v-bind:style="{background: marker.color}"></span>{{marker.label}}: {{countAmoutByMarker(marker.value)}}
        </div>

        <div class="error-message" v-if="error">
          {{ error }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { markerMixins } from './Utils.js';

export default {
  name: 'MarkerList',
  props: ['data', 'geojson', 'error'],
  mixins: [markerMixins],
  computed: {
    markerList() {
      const markerList = this.geojson.features;
      const values = markerList.map(item => item.properties.markerStyles);

      return values;
    }
  },
  methods: {
    countAmoutByMarker(marker) {
      const regEx = new RegExp(marker, 'g');
      const findMarker = this.markerList.toString().match(regEx);

      return findMarker ? findMarker.length : 0;
    },
  }
}
</script>

<style scoped>
.top-right {
  top: 0;
  right: 0;
}
.map-overlay .map-overlay-inner {
  background-color: #fff;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.10);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}
.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}
.error-message {
  font-size: 16px;
  padding-top: 10px;
  color: red;
}
</style>
